

/*====== Top_Header ======*/
.header-list {
    list-style: none;
    margin-top: 5px;
}
.header-list li {
    float: left;
}
.header-list li a {
    text-decoration: none;
}

.header-list li a i {
    padding-left: 25px;
    color: white;
}
.para {
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 1em;
}
@media only screen and (max-width: 500px) {
    .para {
      font-size: 0.8em;
      text-align: center;
    }
  }

.donate {
    list-style: none;
}
.donate li {
    /* display: inline-block; */
    float: left;
    padding: 5px 5px;
    font-size: smaller;
}
.donate li a {
    text-decoration: none;
    border: 1px solid black;
    background-color: whitesmoke;
    color: #427900;
    padding: 3px 3px;
    font-family: Arial;
}




/*====== Navigation_Bar ======*/
.header-nav .main-nav .nav-item .nav-link {
    font-weight: 500;
    padding-left: 1.5em;
    color: black;
    text-transform: capitalize;
    font-size: 0.9em;
}
.header-nav .main-nav .navbar-nav .active a{
    color: white;
    padding: 5px 15px;
    border: none;
    background-color: #316DC3;
    border-radius: 40px
}
.header-nav .main-nav .navbar-nav a:hover {
    color: white;
    padding: 5px 15px;
    border: none;
    background-color: #316DC3;
    border-radius: 40px;
}





/*====== text_slider ======*/
.text_slider {
    background-color: #316DC3;
    color: white;
    padding: 5px;
    display: flex;
    margin-top: 10px;
    font-family: Impact;
}




/*====== INTRO_TEXT ======*/
.intro_tx {
    text-align:center;
    font-size: 2.5em;
    font-family:  Merriweather, serif;
    font-weight: bolder;
}
@media only screen and (max-width: 300px) {
    div.intro_tx {
      font-size: 1.5em;
    }
  }




/*====== TEXT STYLE ======*/
.text_style {
    font-size: 0.9em;
    word-spacing: 2px;
    line-height: 200%;
    color: darkgray;
    font-family: Arial;
    border: none;
    padding: 5px;
}
.text_div {
    display: flex;
    flex-wrap: wrap;
    padding-left: 160px;
}




/*====== DATE BOX ======*/
.tx-img-box img {
    width: 50px;
    height: 50px;
}
.digit-p {
    font-size: 3em;
    color: white;
    font-family: Times;
}
.digit-p-1 {
    color: white;
    font-family: Impact;
    font-size: 1em;
}
.digit-p-1 span {
    color: lime;
    font-weight: bold;
}




/*====== What We Are Doing ======*/
.what_tx {
    text-align:center;
    font-size: 2.5em;
    font-family: Impact;
    font-weight: bolder;
}

@media only screen and (max-width: 500px) {
    div.what_tx {
      font-size: 1.5em;
    }
  }
  @media only screen and (max-width: 300px) {
    div.what_tx {
      font-size: 1em;
    }
  }




/*====== Image Boxes ======*/
.img_round {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #316DC3;
  }
  .img-rnd {
    border: 1px solid white;
    text-align: center;
    background-color: white;
    font-size: 1em;
    font-weight: bold;
    color: #316DC3;
    box-shadow:0px 0px 15px 0px gray;
  }
  .img-rnd a {
    text-decoration: none;
  }
.mar-gin {
    margin-bottom: 30px !important;
}
.pad-ing {
    padding: 30px !important;
}
  div p.tx-pa {
    margin-top: 1em;
  }



/*====== Mission And Projects ======*/
h3.tx-color {
    color: #316DC3;
    font-family: Merriweather, serif;
    font-weight: bold;
    line-height: 2;
}
.text-edit {
    border: 1px solid lightgray;
    background-color: #f2f2f2;
}
.text-edit img {
    height: 50px;
    width: 50px;
    padding-left: 5px;
}
.text-edit span {
    /* display: inline-block; */
    padding-left: 30px;
    font-weight: bold;
    font-size: 15px;
    color: #316DC3;
    font-family: Impact;
}
.text-edit a {
    text-decoration: none;
}
.pad-marg {
    padding: 1em 0.5em;
}






/* ======= GALLERY IMAGES ======== */
.img-size-gallery {
    border: 2px solid green;
    width: 300px;
    height: 250px;
}




/* ======= FOOTER ======= */
.foot-li li {
    list-style: none;
    text-align: start;
}
.foot-a {
    list-style: none;
    text-align: start;
}
.foot-a li {
    float: left;
    padding-left: 20px;
    text-align: start;
}
.foot-a a {
    text-decoration: none;
}
.line-use {
    position: relative;
    border-bottom: 2px solid #b2cc92;
}
.foot-a li a i {
    color: white;
}
.margintop {
    margin-top: 10em;
}